html, body {
    height: 100%;
    width: 100%;
    background: url("http://getwallpapers.com/wallpaper/full/1/7/5/844859-amazing-best-1080p-wallpapers-1920x1080.jpg") no-repeat center center fixed;
    background-size: 1f;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-backdrop-size: cover;
}


strong {
    color: white;
}

hr {
    border-color: #F05F44;
    border-width: 2.5px;
    max-width: 65px;
}

.btn {
    font-weight: 700;
    border-radius: 30px;
}
.btn-primary {
    background-color: #F05F44;
    border-color: #F05F44;
    border-width: 4px;
}

.btn-primary:hover {
    background-color: #F05F44;
    border-color: #F05F44;
    border-width: 6px;
}
.btn-custom {
    text-align: center;
    font-size: 20px;
    border-radius: 30px;
}

.custom-box {
    color: white;
    width: 100%;
    text-align: center;
    font-style: strong;
    font-size: 100px;
}

.flex-custom {
    width: 100%;
}